<div id="browse">
  
  <h2>Browse Choicecards</h2>
<div>
<img src="/research.svg" alt="browseIcon" height="150">
<form method="POST">
  <label for="topic">Browse by TOPIC: </label>
  <select name="topic" id="question-topic" required>
    <option value="" selected disabled>Topic</option> <!-- Display empty placeholder value-->
    <option value="Javascript - Syntax">Javascript - Syntax</option>
    <option value="Javascript - Basic Logic">Javascript - Basic Logic</option>
    <option value="Javascript - Object Oriented Programming">Javascript - Object Oriented Programming</option>
    <option value="HTML">HTML</option>
    <option value="Node">Node</option>
    <option value="Node - Express">Node - Express</option>
    <option value="MongoDB - Queries">MongoDB - Queries</option>
    <option value="Deployment">Deployment</option>
    <option value="Templating">Templating</option>
    <option value="GIT">GIT</option>
  </select>

<button>Browse</button>
</form>
</div>
<h4>Results</h4>
<div id="displayFlashcards">
    {{#each flashcards}}
    <button class="card"><p class="questionTitle"><a href="/choicecard/{{this._id}}">{{this.questionTitle}}</a></p>
    <p class="hiddenQuestion" >{{this.questionDescription}}</p>
    <small>{{this.topic}}</small></button>
            {{/each}}
  
</div>
  
<div class="btn-group">
  {{#if previousPage}}
    <a href="/browsechoicecards?page={{previousPage}}" class="btn">Previous</a>
  {{/if}}
  {{#if nextPage}}
    <a href="/browsechoicecards?page={{nextPage}}" class="btn">Next</a>
  {{/if}}
</div>
</div>

<script>
  
</script>
