<div id="profileHeader">
    <div>
        <h1>{{user.name}}'s Profile</h1>
    <h4>Bootcamp: {{#if user.fullTime}}Full Time{{else}}Part Time{{/if}}</h4>
<img src="{{user.profilePicture}}" alt="awesome profile pic">
    </div>
    <div>
        <h4>Your Stats:</h4>
        <p>Highscore overall - Correct Answer Streak: {{user.highscore}}</p>
        <p>Current Correct Answer Streak:{{user.correctAnswerStreak}} </p>
    </div>
    
</div>
<h4>Your cards: </h4>
<div id="createdCards">
    {{#each cards}}
    <div id="singleCard">
        <h4><a href="/choicecard/{{this._id}}">{{questionTitle}}</a></h4>
        <p>{{questionDescription}}</p>
        <small>Upvotes: {{upvotes}} - Errorvotes: {{errorvotes}}</small>
    </div>
    {{/each}}
</div>