
<div id="feedbackPage">
<h1 id="feedbackMsg">{{#if correct}}That is correct! Great job! {{else}} Sorry, that is not correct. Please try again later! {{/if}}</h1>
<div>
    {{#if correct}}
    {{else}}
    <p>The correct answer is: <span>{{correctAnswer}}</span></p>
    {{/if}}
    <h4>Correct Answer Streak: {{user.correctAnswerStreak}}</h4>
    <div id="feedbackPageButtons">

        <form action="/randomchoicecard" >
        <button>Next</button>
        </form>

   
        {{#if isReminder}}
            {{#if correct}}
            <form action="/choicecard/removeReminder/{{cardId}}" method="POST">
            <button>Remove Reminder!</button>
            </form>
            {{/if}}
        {{else}}
        <form action="/choicecard/remind/{{cardId}}" method="POST">
        <button>Remind me!</button>
        </form>
        {{/if}}
    

    </div>

</div>

</div>
