<div id="single">

<div class="cardDisplay">
    <div>
         <h1>{{choicecard.questionTitle}}</h1>
    <small> <span id="topic">{{choicecard.topic}} | </span>  <span id="choicecard-upvotes">Upvotes: {{choicecard.upvotes}}  |  </span><span id="choicecard-errorvotes">Errorvotes: {{choicecard.errorvotes}}</span></small>
    {{#if choicecard.questionDescription}}
    <p>{{choicecard.questionDescription}}</p>
    {{/if}}
    <img src="/mental.svg" alt="brain" height="110">
    </div>
   



<div id="selectAnswer">
  <h4>Please select the correct answer:</h4>
    <form method="POST" >
        <p>
        <input type="radio" id="answer1" 
        name="answer" value="{{choicecard.answers.[0].correct}}">
        <label for="answer1">{{choicecard.answers.[0].message}}</label>
        </p>
        <p>
        <input type="radio" id="answer2"
           name="answer" value="{{choicecard.answers.[1].correct}}">
        <label for="answer2">{{choicecard.answers.[1].message}}</label>
        </p>
        <p>
        <input type="radio" id="answer3"
         name="answer" value="{{choicecard.answers.[2].correct}}">
        <label for="answer3">{{choicecard.answers.[2].message}}</label>
        </p>
        <p>
        <input type="radio" id="answer4"
           name="answer" value="{{choicecard.answers.[3].correct}}">
         <label for="answer4">{{choicecard.answers.[3].message}}</label>
        </p>
        {{#if user}}
        <button id="checkAnswer">Check Answer</button>
        {{else}}
        <button><a href="/authentication/sign-in">Login to answer this card</a></button>
        {{/if}}
        </form>
    </div>
</div>


{{#if user}}
    <div id="editButtons">
            <form action="/choicecard/{{choicecard._id}}/upvote" method="POST"><button>Upvote!</button></form>
            <form action="/choicecard/{{choicecard._id}}/errorvote" method="POST"><button>Flag an Error!</button></form>
        {{#if isCreator}}
            <button><a href="/choicecard/{{choicecard._id}}/delete">Delete this flashcard</a></button>
            <button><a href="/choicecard/{{choicecard._id}}/update">Edit this flashcard</a></button>
            <form action="/choicecard/{{choicecard._id}}/reset-errors" method='POST'><button>Reset the error votes</button></form>
        {{/if}}
    </div>
{{/if}}

{{#if user}}
    <div id="comments">
        {{> comments}}
    </div>
{{/if}}



</div>


<script>
    const check= document.getElementById('checkAnswer')
    check.addEventListener('click' , (event) => {
        console.log(event)
    })
</script>