
<h1>{{flashcard.questionTitle}}</h1>
<small>{{flashcard.topic}} <span id="flashcard-upvotes">Upvotes: {{flashcard.upvotes}}</span><span id="flashcard-errorvotes">Errorvotes: {{flashcard.errorvotes}}</span></small>
{{#if flashcard.questionDescription}}
<p>{{flashcard.questionDescription}}</p>
{{/if}}
{{#if flashcard.questionImage}}
<p><img src="{{flashcard.questionImage}}" alt="oops there was a problem loading the image" height="300" ></p>
{{/if}}

<button id="answerButton">Show Answer</button>
<div id="displayAnswer" style="display: none;">{{flashcard.solution}}
{{#if flashcard.solutionImage}}
<p><img src="{{flashcard.solutionImage}}" alt="oops there was a problem loading the image" width="100" height="300" ></p>
{{/if}}
</div>


{{!-- <div>{{#each comments}}
    <p>{{this}}</p>
    {{/each}}
</div> --}}



{{#if user}}
<form action="/flashcard/{{flashcard._id}}/upvote" method="POST"><button>Upvote!</button></form>
<form action="/flashcard/{{flashcard._id}}/errorvote" method="POST"><button>Flag an Error!</button></form>


{{!-- check if user is creater of this flashcard. only then show delete and edit button --}}
{{#if isCreator}}
<button><a href="/flashcard/{{flashcard._id}}/delete">Delete this flashcard</a></button>
<button><a href="/flashcard/{{flashcard._id}}/update">Edit this flashcard</a></button>
{{/if}}

{{/if}}


<form action="/flashcard/{{flashcard._id}}/new-comment" method="POST">
    <input type="text" id="input-comment" name="comment" placeholder="Leave a comment here!" maxlength="140" required>
    <button>Submit comment</button>
</form>


<script>
    const answer = document.getElementById('displayAnswer')
    const answerButton = document.getElementById('answerButton'); 
    answerButton.addEventListener('click', 
        ()=> {
            answer.style.display = "block"
        })

</script>